<!-- load header.html -->
<!-- <appheader /> -->
<div ng-include src="'views/header.html'"></div>

<div class="row marketing">
  <!-- TODO LIST -->
    <div id="todo-list" class="row">
      <div class="col-sm-8 col-sm-offset-2">

        <!-- LOOP OVER THE TODOS IN $scope.todos -->
        <div class="row" ng-repeat="todo in todos | filter:searchText">
          [{{ $index + 1 }}] {{ todo.text }}
          <button type="submit" class="btn btn-danger btn-sm pull-right" ng-click="deleteTodo(todo)">×</button>
          <br /><br />
        </div>

      </div>
    </div>

    <!-- FORM TO CREATE TODOS -->
    <div id="todo-form" class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <form>
          <div class="form-group">

            <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
            <input type="text" class="form-control input-lg text-center" placeholder="I want to buy a puppy that will love me forever" ng-model="formData.text">
          </div>

          <!-- createToDo() WILL CREATE NEW TODOS -->
          <button type="submit" class="btn btn-primary btn-lg" ng-click="createTodo()">Add</button>
        </form>
      </div>
    </div>
</div>

<div class="footer">
  <p>♥ from the Yeoman team</p>
</div>